body {
	background-color: #B1E3CF;
	color: #7D7C7A;
	font-size: 87.5%;
	font-family: Arial, 'Licida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #7D7C7A;
}

a:hover, a:active {
	color: #FFC09F;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both; /*prevents floating*/
}

.mainheader img {
	width: 50%;
	height: auto;
	margin: 2% 0;
}

.mainheader nav {
	background-color: #FFC09F;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
} 

.mainheader nav a:hover, .mainheader nav a:active, 
.mainheader nav .active a:link, .mainheader nav .active a:visited  {
	background-color: #FFEE93;
	color: #7D7C7A;
	text-shadow: none;
} 

.mainContent {
	line-height: 25px
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 70%;
	float: left;
}

.topContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.bottomContent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.topSideBar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	padding: 2% 3%;
	margin-bottom: 2%;
	margin-top: 1.5%;
}

.postInfo {
	font-style: italic;
	font-size: 90%;
}

.middleSideBar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottomSideBar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	padding: 2% 3%;
	margin-bottom: 2%;
}

.mainFooter {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFC09F;
	margin-top: 2%;
	height: 40px;
}

.mainFooter p {
	width: 92%;
	margin: 1% auto;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {

	body {
		background-color: #B1E3CF;
		color: #7D7C7A;
		font-size: 87.5%;
		font-family: Arial, 'Licida Sans Unicode';
		line-height: 1.5;
		text-align: left;
	}

	

}



